node_modules/
.next/
npm-debug.log*
.cache/
.vercel/
dist/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local
.yarn/
pids/
*.pid
*.seed
*.sock
logs/
*.log
npm/
coverage/
*.lcov
.gitattributes
.DS_Store
*.tgz
.yarn-integrity
.lock-wscript
.yarn-metadata.json
node/